{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title 'Ajouter Trick' %}

{% block body %}

    <h1>Ajoutez un type de trick !!</h1>

    <main>
        <section class="form">
            {{ form(form) }}
        </section>
    </main>

{% endblock %}