/*===   GLOBAL   ===*/
html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    position: relative;
    padding-bottom: 5rem;
}

h1 {
    margin: 2rem;
    text-align: center;
}

footer a,
h5 a,
p a,
header svg,
h1,
.account h2,
h2 {
    color: #3F4256;
}

.form {
    width: 50%;
    margin-left: 25%;
}

/*- trickSelector -*/
.accordion {
    margin: 2rem 1rem;
}
.accordion .card {
    width: 100%;
    margin: 0;
    box-shadow: none;
}

.accordion a,
.accordion button {
    color: #3F4256;
}

/*- footer -*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/*===   HOME   ===*/
.carousel-item img {
    width: 100%;
}

/*===   TRICKS   ===*/

.card {
    width: 20%;
    margin: 2rem 1rem 2rem 1rem;
    box-shadow: 5px 5px 10px 2px #3F4256;
}

/*===   TRICK   ===*/
.trick {
    width: 90%;
    margin-left: 5%;
}

.trick h1 {
    font-size: 2rem;
    margin: 1rem;
}

.video {
    width: 70%;
    margin-left: 15%;
    height: 500px;
}

iframe {
    height: 500px;
}
/*-comment-*/
.comment {
    width: 70%;
    margin-left: 15%;
}

h3 {
    margin-left: 5%;
    margin-bottom: 2rem;
}

h4 {
    margin-bottom: 2rem;
}

.comment h4 {
    font-size: 1rem;
}

form .btn,
#loadMoreComment {
    width: 20%;
    margin-left: 40%;
    margin-top: 1rem;
}

.comment-show {
    display: none;
}

/*===   ACCOUNT   ===*/
.account {
    width: 80%;
    margin-left: 10%;
}

ul {
    padding: 1rem;
}

/*===   ADMIN   ===*/
table {
    box-shadow: 5px 5px 10px 2px #3F4256;
    width: 80%;
    margin: 4rem 10%;
}

td {
    border-bottom: 1px solid #3F4256 ;
    padding: 1rem 2rem;
    text-align: center;
}

th {
    font-size: 1.3rem;
    text-align: center;
}

thead {
    border-bottom: 1px solid #3F4256 ;
}

.nav {
    padding-right: 0;
}

/*===   MEDIA Q   ===*/

@media (min-width: 768px) {

/*===   HEADER   ===*/
    .navbar-collapse {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-brand {
        margin-left: 5rem;
    }
}

@media (max-width: 1023px) {

/*===   GLOBAL   ===*/
    .card {
        width: 40%;
    }

    .form {
        width: 90%;
        margin-left: 5%;
    }

/*===   TRICK   ===*/
    .video {
        width: 70%;
    }

    .trick {
        width: 90%;
    }

    .comment {
        width: 90%;
        margin-left: 5%;
    }

/*===   ACCOUNT   ===*/
    .account {
        width: 90%;
        margin-left: 5%;
    }

    .account ul {
        padding: 0;
    }

/*===   ADMIN   ===*/
    table {
        width: 90%;
        margin-left: 5%;
    }
}

@media (max-width: 767px) {

/*===   GLOBAL   ===*/
    .card {
        width: 90%;
    }

    .btnw {
        width: 90%;
        margin-top: 0.7rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    form .btn {
        width: 90%;
        margin-left: 5%;
    }

/*===   HOME   ===*/
    #home {
        flex-wrap: wrap;
    }

/*===   TRICKS   ===*/
    #tricks,
    #typeTricks{
        flex-direction: column;
    }

/*===   TRICK   ===*/
    .video {
        margin-left: 5%;
        height: 200px;
    }

    iframe {
        height: 170px;
    }

    #loadMoreComment {
        width: 90%;
        margin-left: 5%;
    }

    #commentTextArea {
        flex-direction: column;
    }

    #commentTextArea textarea {
        width: 100%;
    }

    #addon-wrapping {
        width: 100%;
    }

    .comment .card-body {
        flex-direction: column;
    }

    li div {
        flex-direction: column;
    }
}