html {
    scroll-behavior: smooth;
}

footer a,
header svg,
h1 {
    color: #3F4256;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    width: 20%;
    margin: 2rem 1rem 2rem 1rem;
    box-shadow: 5px 5px 10px 2px #3F4256;
}

.trick {
    width: 90%;
    margin-left: 5%;
}

.trick h1 {
    font-size: 2rem;
    margin: 1rem;
}

h1 {
    margin-top: 2rem;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    height: 700px;
}

.video {
    width: 70%;
    margin-left: 15%;
    height: 500px;
}

iframe {
    height: 500px;
}

.accordion {
    margin: 2rem 1rem;
}
.accordion .card {
    width: 100%;
    margin: 0;
    box-shadow: none;
}

.accordion a,
.accordion button {
    color: #3F4256;
}

.form {
    width: 50%;
    margin-left: 25%;
}