<footer>

    <div class="d-flex bd-highlight mb-3">
        <div class="p-2 bd-highlight ml-3">
            <a target="_blank" rel="noopener noreferrer" href="#" title="Facebook">
                <i class="fab fa-facebook-square fa-3x"></i>
            </a>
        </div>
        <div class="p-2 bd-highlight ml-3">
            <a target="_blank" rel="noopener noreferrer" href="#" title="Twitter">
                <i class="fab fa-twitter-square fa-3x"></i>
            </a>
        </div>
        <div class="ml-auto p-2 bd-highlight">
            <a href="#top" title="Up"><i class="far fa-caret-square-up fa-3x"></i></a>
        </div>
    </div>

</footer>