<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="top">
        <a class="navbar-brand ml-5" href="{{ path('home') }}">
            <i class="far fa-snowflake"></i>
            <b>SnowTricks</b>
            <i class="far fa-snowflake"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('tricks') }}">Tricks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-5" href="{{ path('registration') }}">Inscription</a>
                </li>
            </ul>
        </div>
    </nav>

</header>