{% extends 'base.html.twig' %}

{% block title 'Mon Compte' %}

{% block body %}

    <div class="card account">
        <div class="card-header">
            <h1>Mon compte SnowTricks</h1>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Nom d'utilisateur : {{ user.username }}</li>
            <li class="list-group-item">E-mail : {{ user.mail }}</li>
            <li class="list-group-item">Date d'inscription : {{ user.createdAt | date("d/m/Y") }}</li>
            <li class="list-group-item d-flex justify-content-around">
                <a href="#" class="btn btn-warning">Modifier le mot de passe</a>
                <a href="#" class="btn btn-danger">Supprimer mon compte</a>
            </li>
        </ul>
    </div>

{% endblock %}