{% extends 'base.html.twig' %}

{% block title %}mot de passe oublié{% endblock %}

{% block body %}

    <main>

        <h1>Changement de mot de passe</h1>
        <form method="post" class="form">
            <div class="form-group">
                <label for="inputEmail">Veuillez indiquer votre adresse mail</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>
            <button class="btn btn-primary" type="submit">
                Envoyer le mail
            </button>
        </form>
        
    </main>

{% endblock %}