{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title 'inscription' %}

{% block body %}

    <h1>Inscrivez-vous !!</h1>

    <section class="form">
        {{ form(form) }}
    </section>
{% endblock %}